body{
    background-image: url(images.html/pexels-the-5th-50003-179909.jpg);
    margin:0; /*to make space between the color box and the top margin*/
    padding :0
}
{
    box sizzing : border box:
}
.toplink{
    background-color: bisque;
    overflow: hidden;

}
.toplink_right{
    ali
}
